.glyph .glyphicon {
	font-size: 25px;
}

.ny-times {
	font-family: 'Bevan', cursive;
}

.scrollify {
	  overflow: scroll;
	  height: 500px;
}

.ind-img:hover {
	background-color: red;
	opacity: 0.5;
}

